[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest = "*"
pytest-django = "*"
djangorestframework = ">=3.8.2"
djangorestframework-simplejwt = ">=3.2.3"
psycopg2-binary = ">=2.7.5"
redis = ">=2.10.6"
django-redis = ">=4.9.0"

[dev-packages]
tox = "*"

[requires]
python_version = "3.7"
